* {
    @include box-sizing(border-box);
    @include backface-visibility(hidden);
}

*:after,
*:before {
    @include box-sizing(border-box);
}

html {
    font-family: sans-serif;
    @include text-size-adjust(100%);
}

body,
html {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: $document-background-color;
    font-family: $document-font-family;
    @include include-document-font-size();
    font-weight: $document-font-weight;
    line-height: $document-line-height;
    color: $document-color;
}
