@mixin align-self($value: auto) {
    @if $value == flex-start {
        -webkit-flex-item-align: start;
        -moz-flex-item-align: start;
        -ms-flex-item-align: start;
    } @else if $value == flex-end {
        -webkit-flex-item-align: end;
        -moz-flex-item-align: end;
        -ms-flex-item-align: end;
    } @else {
        -webkit-flex-item-align: $value;
        -moz-flex-item-align: $value;
        -ms-flex-item-align: $value;
    }
    -webkit-align-self: $value;
    -moz-align-self: $value;
    -ms-align-self: $value;
    align-self: $value;
}
