@mixin order($int: 0) {
    -webkit-box-ordinal-group: $int + 1;
    -moz-box-ordinal-group: $int + 1;
    -webkit-flex-order: $int;
    -moz-flex-order: $int;
    -ms-flex-order: $int;
    -webkit-order: $int;
    -moz-order: $int;
    -ms-order: $int;
    order: $int;
}
