$h1-h6-margin: $elements-margin !default;
$h1-h6-font-weight: normal !default;
$h1-h6-line-height: 1.1em !default;
$h1-h6-color: $primary-color !default;
    //H1
    $h1-font-size: 1.8em !default;
    //H2
    $h2-font-size: 1.5em !default;
    //H3
    $h3-font-size: 1.46em !default;
    //H4
    $h4-font-size: 1.38em !default;
    //H5
    $h5-font-size: 1.3em !default;
    //H6
    $h6-font-size: 1.2em !default;
