$button-background: $primary-color !default;
$button-color: $primary-color-background-inner-color !default;

$button-hover-background: $hover-primary-color !default;
$button-hover-color: $hover-primary-color-background-inner-color !default;
