$progress-height: 16px !default;
$progress-margin: $elements-margin !default;
$progress-background-color: get-color(grey, 200) !default;

$progress-meter-background-color: $primary-color !default;
$progress-meter-text-font-size: 80% !default;
$progress-meter-text-color: $hover-primary-color-background-inner-color !default;
