$button-padding-vertical: 0.85em !default;
$button-padding-horizontal: 1em !default;
$button-padding: $button-padding-vertical $button-padding-horizontal !default;
$button-letter-spacing: 0.04em !default;
$button-transition: $elements-transition !default;

$button-disabled-opacity: 0.3 !default;
