$hollow-button-class: hollow-button !default;
$hollow-button-make-class: true !default;
$hollow-button-color: $primary-color !default;
$hollow-button-hover-color: $hover-primary-color !default;
$hollow-button-border: 1px solid !default;
