$range-thumb-size: 20px !default;
$range-thumb-border: 1px solid get-color(grey, 400) !default;
$range-thumb-background: get-color(white) !default;

$range-track-height: 8px !default;
$range-track-background: get-color(grey, 400) !default;
$range-focus-track-background: $primary-color !default;
