//Ul | Ol
$ul-ol-margin: $elements-margin !default;
$ul-ol-padding-left: 1.5em !default;

//Li
$li-margin: 0.3em 0 !default;

//DL
$dl-margin: $elements-margin !default;

//DT
$dt-margin: $li-margin !default;

//DD
$dd-margin: $li-margin !default;
