$links-efect-no-1-class: 'link-efect-no-1' !default;
$links-efect-no-1-make-class: true !default;
$links-efect-no-1-color: $a-color !default;
$links-efect-no-1-hover-color: $a-hover-color !default;

$links-efect-no-1-botom-line-bottom: 0 !default;
$links-efect-no-1-botom-line-height: 0.1em !default;
$links-efect-no-1-botom-line-translate-y: -0.300em !default;
$links-efect-no-1-botom-line-transition-duration: 0.3s !default;
