@mixin make-links-efect-no-1($color, $hover-color, $botom-line-bottom, $botom-line-height, $botom-line-translate-y, $botom-line-transition-duration) {
    display: inline-block;
    position: relative;
    text-decoration: none;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: $botom-line-bottom;
        left: 0;
        width: 100%;
        height: 0;
        @include opacity(0);
        @include transition('height #{$botom-line-transition-duration} ease, opacity #{$botom-line-transition-duration} ease, transform #{$botom-line-transition-duration} ease');
        @include transform(translateY($botom-line-translate-y));
    }

    &:hover, &:focus {
        &:after {
            height: $botom-line-height;
            @include opacity(1);
            @include transform(translateY(0));
        }
    }

    @include include-links-efect-no-1-colors($color, $hover-color);
}

@mixin include-links-efect-no-1-colors($color, $hover-color) {
    color: $color;

    &:after {
        background: $hover-color;
    }

    &:hover, &:focus {
        color: $hover-color;

        &:after {
            background: $hover-color;
        }
    }
}

@mixin links-efect-no-1-colors($color, $hover-color) {
    @include class-links-style($links-efect-no-1-class) {
        @include include-links-efect-no-1-colors($color, $hover-color);
    }
}

@mixin class-links-efect-no-1-colors($class, $color, $hover-color) {
    @include class-links-style($links-efect-no-1-class) {
        &.#{$class} {
            @include include-links-efect-no-1-colors($color, $hover-color);
        }
    }
}
