$progress-bars-background-colors-support-extra-colors-palette: () !default;
$progress-bars-background-colors-support-skip-colors-palette: null !default;
$progress-bars-background-colors-support-background-opacity: 0.3;
